---
---

@import 'variables';
@import 'typography';
@import 'layout';


/* grid layout */
.grid {
  display: grid;
  grid-template-columns: $col-layout-outter;
  grid-gap: $grid-gap;

  /* wrapper for content page articles */
  article{
    grid-column-start: 3;
    grid-column-end: 9;

    img {width: 100%;}
  }


  section{
    padding: $grid-unit*4 0;
    grid-column-start: 3;
    grid-column-end: 9;

    .description{
      margin-bottom: 8*$grid-unit;
      margin-top: 1*$grid-unit;
      font: $large-content-font;
    }

    .section-title h3 {
      display: inline-block;
      font: $section-title-font;
      border-bottom: 4px solid $blue-light;
      padding-bottom: 2px;

      a{
        color: $neutral-dark;
        pointer-events: none;
      }
    }

  }

  .header {
    grid-column-start: 3;
    grid-column-end: 9;

    padding: $grid-unit*3 0 0 0;
    margin-top: $grid-unit*2;
    margin-bottom: $grid-unit*4;



    nav{

      ul{
        list-style: none;
        display: inline-block;
        margin: 0;
        li{
          margin-bottom: 0px;
        }
      }

      .menu-container{
        vertical-align: middle;
        width: $grid-unit *60;
        display: block;
        float: left;

        .title {
          display: inline;
        }

        ul.menu{
          display: inline;
          padding-left: $grid-unit * 6;
          vertical-align: top;

          li.menu-item{
            margin-left: $grid-unit * 4;
            display: inline;

            a {
              font: $menu-item-font;
              color: black;
            }
          }

          li.menu-item:first-child{
            margin-left: 0px;
          }
        }
      }


      ul.social-icons {
        margin-top: $grid-unit;
        float: right;

          li.social-icon {
            margin-left: $grid-unit*2;
            float: right;
            a {
              border-bottom: 2px solid transparent;
              font-weight: 400;
              width: 100%; height: 100%;
              display: block;
              background-size: inherit;}
            a:hover {border-color: #007FB6;}
          }
        }
    }
  }

  .bio-in-brief {

    grid-column-start: 3;
    grid-column-end: 7;
  }
  .bio-image{
    grid-column-start: 7;
    grid-column-end: 9;

    img{ max-width:100%; }
  }

  .articles {
    grid-column-start: 3;
    grid-column-end: 9;

    p{
      font: $large-content-font;
    }

    p.more-link{
      font-style: italic;
    }

    ul.articles-list{

      padding-left: 0;

      li {
        display: block;
        height: $grid-unit * 7;
        margin-bottom: $grid-unit * 2;
        font: $large-content-font;

        a{
          display: block;
          height: 100%;
          vertical-align: middle;

          &:hover{
            text-decoration: underline;
          }
        }

        img {
          display: inline-block;
          width: $grid-unit*5;
          margin-right: $grid-unit*3;

        }

        span{
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          line-height: $grid-unit*3;
          text-decoration: inherit;
        }
      }

    }
  }

  .case-studies {
    grid-column-start: 1;
    grid-column-end: 11;

    display: grid;
    grid-template-columns: $col-layout-outter;
    grid-gap: $grid-gap;

    .section-title{
      grid-column-start: 3;
      grid-column-end: 9;
    }

    .project-tile{
      grid-column-start: 2;
      grid-column-end: 10;

      display: grid;
      grid-template-columns: $col-layout-inner;
      grid-gap: $grid-gap;

      margin-bottom: $grid-unit * 8;

      .project-image-link {
        grid-column-start: 1;
        grid-column-end: 9;

        text-align:center;

        &.victorops-android{
          background: $orange-light;
        }

        &.victorops-onboarding{
          background: $orange-light;
        }


        &.pivotal-tracker-analytics{
          background: $blue-light-2;
        }

        &.listacular{
          background: $blue-light-2;
        }

      }

      .project-description{

        grid-column-start: 2;
        grid-column-end: 8;

        .project-title{
          font: $content-title-font;
          margin-bottom: $grid-unit;
        }

        .project-summary{
          font: $regular-content-font;
          color: $neutral-light-2;
        }
      }
    }
  }
}
