---
---

@import 'variables';
@import 'typography';
@import 'layout';
@import 'header';
@import 'homepage';
@import 'article.scss';


/* grid layout */
.grid {
  display: grid;
  grid-template-columns: $col-layout-outter;
  grid-gap: $grid-gap;
}
