---
---

/* variables */
$grid-unit: 8px;
$blue-dark: #007FB6;
$blue-regular: #2BA8DE;
$blue-light: #5DCAFA;

$neutral-dark-2: #06202F;
$neutral-dark: #193044;
$neutral: #3B5060;
$neutral-light: #5C6D80;
$neutral-light-2: #7F90A0;
$neutral-light-3: #B7C4CF;
$neutral-light-4: #EAEEF3;
$neutral-light-5: #F9FBFD;


/*grid variables*/
$col-width: $grid-unit*16;
$col-layout: auto minmax(0px, $col-width) repeat(6, $col-width) minmax(0px, $col-width) auto;
$col-layout-inner: minmax(0px, $col-width) repeat(6, $col-width) minmax(0px, $col-width);
$inner-grid-gap: $grid-unit*2;
$outter-grid-gap: 0;
$grid-gap: 0;

/*$col-layout: auto repeat(8, minmax(0px, $grid-unit*14)) auto;
$col-layout-inner: repeat(8, minmax(0px, $grid-unit*14));*/

/* basic formatting */

body {margin: 0; color: $neutral-dark; font-size: 1.25rem; font-family: 'Lato'; line-height: $grid-unit*4;}

a {color: $blue-dark; text-decoration: none;}
a:hover {color: $blue-dark; text-decoration: underline;}


strong, b { font-weight: 700; }

h1.title {font-size: 1.5rem; margin: 0; font-weight: 800;}
h1 {font-size: 2rem; font-weight: bold; margin-top: $grid-unit*4; margin-bottom: $grid-unit*4}
h2 {font-size: 2rem; font-weight: bold;}
h3 {font-size: 1.4rem; font-weight: 300; line-height: 2.5rem;}

h1 a, h2 a {color: $neutral-dark; text-decoration: none;}

ul li { list-style: solid-circle; margin-bottom: .5em; }
ol li { list-style: decimal-leading-zero; margin-bottom: .5em; }

/* grid layout */
.grid {
  display: grid;
  grid-template-columns: $col-layout;
  grid-gap: $grid-gap;

  section{padding: 32px 0;}
  .header {
    grid-column-start: 3;
    grid-column-end: 9;

    padding: $grid-unit*3 0 0 0;
  }

  .bio-in-brief {

    grid-column-start: 3;
    grid-column-end: 7;
  }

  .bio-image{
    grid-column-start: 7;
    grid-column-end: 9;
  }

  .bio-image img{
    max-width:100%;
  }


  .lean-ux-explained{
    display: none;

    font-size: 1.4rem;
    line-height: 2.5rem;

    background: $neutral-light-5;
    border-top: thin solid $neutral-light-4;
    border-bottom: thin solid $neutral-light-4;

    grid-column-start: 1;
    grid-column-end: 11;

    display: grid;
    grid-template-columns: $col-layout;
    grid-gap: $grid-gap;

    .content{
      grid-column-start: 3;
      grid-column-end: 9;
    }

    .process-image{
      margin: auto;
      display: block;
    }
  }

  .articles {
    grid-column-start: 3;
    grid-column-end: 9;

  }

  .case-studies {
    grid-column-start: 1;
    grid-column-end: 11;
    background: pink;

    display: grid;
    grid-template-columns: $col-layout;
    grid-gap: $grid-gap;

    h3.section-head{
      grid-column-start: 3;
      grid-column-end: 9;
    }

    .project-tile{
      grid-column-start: 2;
      grid-column-end: 10;

      display: grid;
      grid-template-columns: $col-layout-inner;
      grid-gap: $grid-gap;

      .image-container {
        grid-column-start: 1;
        grid-column-end: 9;
        background: red;
      }

      .project-description{

        grid-column-start: 2;
        grid-column-end: 8;
        background: green;

        .title{

        }

        .summary{

        }

      }

    }
  }
}

/* header styling */

.header{

  .title {display: inline-block;}

  nav.menu {
    display: inline-block;
    float: right;


    .social-icons {float: right; padding-top: 6px; margin: 0;
      .social-icon {margin-left: $grid-unit*2; float: right; list-style: none;
        a {font-weight: 400; width: 100%; height: 100%; display: block; background-size: inherit;}
        a:hover {border-bottom: 2px solid #007FB6;}
      }
    }
  }

}
