---
---

/* variables */
$grid-unit: 8px;
$blue-dark: #007FB6;
$blue-regular: #2BA8DE;
$blue-light: #5DCAFA;
$blue-light-2: #C9EEFD;

$neutral-dark-2: #06202F;
$neutral-dark: #193044;
$neutral: #3B5060;
$neutral-light: #5C6D80;
$neutral-light-2: #7F90A0;
$neutral-light-3: #B7C4CF;
$neutral-light-4: #EAEEF3;
$neutral-light-5: #F9FBFD;

/* special colors */
$orange-light: #FEEFD9;
$orange: #FBB040;


/*grid variables*/
$grid-gap: $grid-unit*2;
$col-width: $grid-unit*14;

/* grid layout */
$col-layout-outter: auto minmax(0px, $col-width) repeat(6, $col-width) minmax(0px, $col-width) auto;
$col-layout-inner: minmax(0px, $col-width) repeat(6,$col-width) minmax(0px, $col-width);


/* Font specifics */
$brand-font: 28px 600 'Lato';
$section-title-font: bold 28px 'Lato';
$content-title-font: normal 28px/32px 'Lato';
$large-content-font: 24px/40px 'Lato';
$regular-content-font: 20px/32px 'Lato';
$menu-item-font: 500 16px 'Lato';

/*$col-layout: auto repeat(8, minmax(0px, $grid-unit*14)) auto;
$col-layout-inner: repeat(8, minmax(0px, $grid-unit*14));*/

/* basic formatting */

body {margin: 0; color: $neutral-dark; font-size: 1.25rem; font-family: 'Lato'; line-height: $grid-unit*4;}

a {color: $blue-dark; text-decoration: none;}
a:hover {color: $blue-dark; text-decoration: underline;}


strong, b { font-weight: 700; }

h1.title {font-size: 1.75rem; margin: 0; font-weight: 800;}
h1 {font-size: 2rem; font-weight: bold; margin-top: $grid-unit*4; margin-bottom: $grid-unit*4}
h2 {font-size: 2rem; font-weight: bold;}
h3 {font-size: 1.4rem; font-weight: 300; line-height: 2.5rem;}

h1 a, h2 a {color: $neutral-dark; text-decoration: none;}

ul li { list-style: solid-circle; margin-bottom: .5em; }
ol li { list-style: decimal-leading-zero; margin-bottom: .5em; }

/* grid layout */
.grid {
  display: grid;
  grid-template-columns: $col-layout-outter;
  grid-gap: $grid-gap;

  section{
    padding: 32px 0;

    .description{
      margin-bottom: 8*$grid-unit;
      margin-top: 1*$grid-unit;
      font: $large-content-font;
    }

    .section-title h3 {
      display: inline-block;
      font: $section-title-font;
      border-bottom: 4px solid $blue-light;
      padding-bottom: 2px;

      a{
        color: $neutral-dark;
        pointer-events: none;
      }
    }

  }

  .header {
    grid-column-start: 3;
    grid-column-end: 9;

    padding: $grid-unit*3 0 0 0;
    margin-top: $grid-unit*2;
    margin-bottom: $grid-unit*4;



    nav{

      ul{
        list-style: none;
        display: inline-block;
        margin: 0;

        li{
          margin-bottom: 0px;
        }
      }

      .menu-container{
        vertical-align: middle;
        width: $grid-unit *60;
        display: block;
        float: left;

        .title {
          display: inline;
        }

        ul.menu{
          display: inline;
          padding-left: $grid-unit * 6;

          li.menu-item{
            margin-left: $grid-unit * 4;
            display: inline;

            a {
              font: $menu-item-font;
              color: black;
            }
          }

          li.menu-item:first-child{
            margin-left: 0px;
          }
        }
      }


      ul.social-icons {
        margin-top: $grid-unit*1.5;
        float: right;

          li.social-icon {
            margin-left: $grid-unit*2;
            float: right;
            a {
              border-bottom: 2px solid transparent;
              font-weight: 400;
              width: 100%; height: 100%;
              display: block;
              background-size: inherit;}
            a:hover {border-color: #007FB6;}
          }
        }
    }
  }

  .bio-in-brief {

    grid-column-start: 3;
    grid-column-end: 7;
  }
  .bio-image{
    grid-column-start: 7;
    grid-column-end: 9;

    img{ max-width:100%; }
  }

  .articles {
    grid-column-start: 3;
    grid-column-end: 9;

    p{
      font: $large-content-font;
    }

    p.more-link{
      font-style: italic;
    }

    ul.articles-list{

      padding-left: 0;

      li {
        display: block;
        height: $grid-unit * 7;
        margin-bottom: $grid-unit * 2;
        font: $large-content-font;

        a{
          display: block;
          height: 100%;
          vertical-align: middle;

          &:hover{
            text-decoration: underline;
          }
        }

        img {
          display: inline-block;
          width: $grid-unit*5;
          margin-right: $grid-unit*3;

        }

        span{
          display: inline-block;
          vertical-align: middle;
          height: 100%;
          line-height: $grid-unit*3;
          text-decoration: inherit;
        }
      }

    }
  }

  .case-studies {
    grid-column-start: 1;
    grid-column-end: 11;

    display: grid;
    grid-template-columns: $col-layout-outter;
    grid-gap: $grid-gap;

    .section-title{
      grid-column-start: 3;
      grid-column-end: 9;
    }

    .project-tile{
      grid-column-start: 2;
      grid-column-end: 10;

      display: grid;
      grid-template-columns: $col-layout-inner;
      grid-gap: $grid-gap;

      margin-bottom: $grid-unit * 8;

      .project-image-link {
        grid-column-start: 1;
        grid-column-end: 9;

        text-align:center;

        &.victorops-android{
          background: $orange-light;
        }

        &.victorops-onboarding{
          background: $orange-light;
        }


        &.pivotal-tracker-analytics{
          background: $blue-light-2;
        }

        &.listacular{
          background: $blue-light-2;
        }

      }

      .project-description{

        grid-column-start: 2;
        grid-column-end: 8;

        .project-title{
          font: $content-title-font;
          margin-bottom: $grid-unit;
        }

        .project-summary{
          font: $regular-content-font;
          color: $neutral-light-2;
        }
      }
    }
  }
}
