@import 'layout';
@import 'variables';
@import 'typography';

/* wrapper for content page articles */

article{

  @include full-content-layout;
  @include grid-template;

  ul li::marker {
    content: "•   "
  }


  margin-bottom: $grid-unit * 8;
  margin-top: $grid-unit * 6;

  section{
    @include standard-content-layout;
  }

  .wide-width-section{
    @include wide-content-layout;

  }

  div.asset-preview{
    background: gray;
    width: $grid-gap*20;
    height: 500px;
    float: right;
  }

  .full-width-section {
    @include full-content-layout;

    margin-top: -1*$grid-unit*5;
    padding-top: 0;

    text-align: center;
  }

  img {width: 100%;}

  .image-tile{
    @include wide-content-layout;

    display: grid;
    grid-gap: $grid-unit *3;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr))
  }
}
