@import 'variables';
@import 'typography';


button, input[type=submit]:hover {background: $blue-dark;}
button.button { border: none; }

::-webkit-input-placeholder { color: $neutral-light-4; }
::-moz-placeholder { color: $neutral-light-4; }
:-ms-input-placeholder { color: $neutral-light-4; }

input, textarea {
  font: $regular-content-font;
  display: block;
  border: thin solid $neutral-light-3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: $grid-unit;
  width: 100%;
  text-decoration: none;
}

input[type=submit] {
  width: 100%;
  background: $blue-regular;
  text-align: center;
  vertical-align: middle;
  border: none;
  color: #fff;
}
