/*  bio sections */

@import 'variables';
@import 'typography';

.bio-in-brief {

  @include standard-content-layout;

  @media only screen and (min-width: 800px) {
    grid-column-start: 3;
    grid-column-end: 7;
  }
}
.bio-image{

  display: none;

  @media only screen and (min-width: 800px) {
    display: block;
    grid-column-start: 7;
    grid-column-end: 9;
  }

  img{ max-width:100%; }
}


//Homepage section specifics
section {
  
  .section-title h3 {
    display: inline-block;
    font: $section-title-font;
    border-bottom: 4px solid $blue-light;
    padding-bottom: 2px;

    a{
      color: $neutral-dark;
      pointer-events: none;
    }
  }

  .description{
    margin-bottom: 8*$grid-unit;
    margin-top: 1*$grid-unit;
    font: $large-content-font;
  }
}

/* articles section */
.articles {

  p{
    font: $large-content-font;
  }

  p.more-link{
    font-style: italic;
  }

  ul.articles-list{

    padding-left: 0;

    li {
      display: block;
      height: $grid-unit * 7;
      margin-bottom: $grid-unit * 2;
      font: $large-content-font;

      a{
        display: block;
        height: 100%;
        vertical-align: middle;

        &:hover{
          text-decoration: underline;
        }
      }

      img {
        display: inline-block;
        width: $grid-unit*5;
        margin-right: $grid-unit*3;

      }

      span{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        line-height: $grid-unit*3;
        text-decoration: inherit;
      }
    }

  }
}

.case-studies {
  @include full-content-layout;
  @include grid-template;

  .section-title{
    @include standard-content-layout;
  }

  .project-tile{
    @include full-content-layout;
    @include grid-template;

    margin-bottom: $grid-unit * 8;

    .project-image-link {
      @include wide-content-layout;

      text-align:center;

      &.victorops-android{
        background: $orange-light;
      }

      &.victorops-onboarding{
        background: $orange-light;
      }


      &.pivotal-tracker-analytics{
        background: $blue-light-2;
      }

      &.listacular{
        background: $blue-light-2;
      }

    }

    .project-description{

      @include standard-content-layout;

      .project-title{
        font: $content-title-font;
        margin-bottom: $grid-unit;
      }

      .project-summary{
        font: $regular-content-font;
        color: $neutral-light-2;
      }
    }
  }
}
