@import 'variables';

/*grid variables*/
$grid-gap: $grid-unit*3;
$col-width: $grid-unit*10;

/* grid layout */
$col-minmax-var: minmax(0px, $col-width);


/* desktop variables */
$col-layout-outter-large: auto $col-minmax-var repeat(10, $col-width) $col-minmax-var auto;

/* tablet and below grid variables */
$col-layout-outter-small: repeat(8, 1fr);


/* grid templates */
@mixin grid-template {

  display: grid;
  grid-gap: $grid-gap;

  grid-template-columns: $col-layout-outter-small;

  @media only screen and (min-width: 800px) {
    grid-template-columns: $col-layout-outter-large;
  }
}

/* content layouts */

@mixin standard-content-layout{

  grid-column-start: 1;
  grid-column-end: 8;

  @media only screen and (min-width: 800px) {
    grid-column-start: 3;
    grid-column-end: 12;
  }
}

@mixin wide-content-layout{
  grid-column-start: 1;
  grid-column-end: 9;

  @media only screen and (min-width: 800px) {
    grid-column-start: 2;
    grid-column-end: 13;
  }
}

@mixin full-content-layout{
  grid-column-start: 1;
  grid-column-end: 15;

  @media only screen and (min-width: 800px) {
    grid-column-start: 1;
    grid-column-end: 15;
  }
}


/* grid layout */
main {
  display: grid;
  grid-gap: $grid-gap;
  @include grid-template;

  margin: 0 0 ;
}

//General section gridding
section{
  padding: $grid-unit*0 0;
  @include standard-content-layout;
}
