@import 'variables';

/*grid variables*/
$grid-gap: $grid-unit*2;
$col-width: $grid-unit*14;

/* grid layout */
$col-minmax-var: minmax(0px, $col-width);
$col-layout-outter: auto $col-minmax-var repeat(6, $col-width) $col-minmax-var auto;
$col-layout-inner: $col-minmax-var repeat(6,$col-width) $col-minmax-var;
