@import 'variables';
@import 'layout';

/* Font  */
$brand-font: 500 28px 'Source Sans Pro';
$hello-message-font: 400 2rem/2.5rem 'Source Sans Pro';
$menu-item-font: 400 2rem 'Source Sans Pro';

$page-title-font: 700 2.5rem/3rem 'Source Sans Pro';
$section-title-font: 400 2rem/3rem 'Source Sans Pro';
$content-title-font: 600 1.5rem/2rem 'Source Sans Pro';

$regular-content-font: 400 1.25rem/2.00rem 'Source Serif Pro';
$small-content-font: 400 1rem/2rem 'Source Serif Pro';
$large-content-font: 300 1.5rem/2rem 'Source Serif Pro';
$light-content-font: 300 20px/32px 'Source Sans Pro';



@mixin page-title-font{
  font: 600 3rem/2rem 'Source Sans Pro';

  @media only screen and (min-width: $min-width) {
    font: 600 3rem/2.25rem 'Source Sans Pro';
  }
}

@mixin section-title-font{
  font: 600 1.5rem/2rem 'Source Sans Pro';

  @media only screen and (min-width: $min-width) {
    font: 600 2rem/3rem 'Source Sans Pro';
  }
}

@mixin content-title-font{
  font: 600 1.5rem/2rem 'Source Sans Pro';

  @media only screen and (min-width: $min-width) {
    font: 600 1.5rem/2rem 'Source Sans Pro';
  }
}


@mixin regular-content-font{
  font: 400 1.33rem/2.00rem 'Source Serif Pro';

  @media only screen and (min-width: $min-width) {
    font: 400 1.33rem/2.00rem 'Source Serif Pro';
  }
}

@mixin large-content-font{
  font: 400 1.5rem/2rem 'Source Serif Pro';

  @media only screen and (min-width: $min-width) {
    font: 400 1.75rem/2.25rem 'Source Serif Pro';
  }
}

@mixin small-content-font{
  font: 500 1.25rem/1.75rem 'Source Serif Pro';

  @media only screen and (min-width: $min-width) {
    font: 500 1.5rem/2rem 'Source Serif Pro';
  }
}

@mixin button-font{
  font: 500 1.25rem/1rem 'Source Sans Pro';

  @media only screen and (min-width: $min-width) {
    font: 500 1.25rem/1rem 'Source Sans Pro';
  }
}



body {margin: 0; font: $regular-content-font; color: $neutral-dark; }

a {color: $blue-regular; text-decoration: none;}
a:hover {color: $blue-regular; text-decoration: underline;}


strong, b { font-weight: 700; }

h1.title {font-size: 1.75rem; margin: 0; font-weight: 500;}
h1 {font: $page-title-font; margin-top: $grid-unit*4; margin-bottom: $grid-unit*4}
h2 {font: $section-title-font;}
h3 {font: $content-title-font; padding-top: $grid-unit*3;}

h1 a, h2 a {color: $neutral-dark; text-decoration: none;}

ul li { list-style: solid-circle; margin-bottom: .5em; }
ol li { list-style: decimal-leading-zero; margin-bottom: .5em; }
