
/* variables */
$grid-unit: 8px;
$blue-dark: #007FB6;
$blue-regular: #2BA8DE;
$blue-light: #5DCAFA;
$blue-light-2: #C9EEFD;

$neutral-dark-2: #06202F;
$neutral-dark: #193044;
$neutral: #3B5060;
$neutral-light: #5C6D80;
$neutral-light-2: #7F90A0;
$neutral-light-3: #B7C4CF;
$neutral-light-4: #EAEEF3;
$neutral-light-5: #F9FBFD;

/* special colors */
$orange-light: #FEEFD9;
$orange: #FBB040;

/* Font  */
$brand-font: 28px 600 'Lato';
$section-title-font: bold 28px 'Lato';
$content-title-font: normal 28px/32px 'Lato';
$large-content-font: 24px/40px 'Lato';
$regular-content-font: 20px/32px 'Lato';
$menu-item-font: 500 16px 'Lato';
