
/* variables */
$grid-unit: 8px;

/* neutrals */
$neutral-dark-2: #06202F;
$neutral-dark: #193044;
$neutral: #3B5060;
$neutral-light: #5C6D80;
$neutral-light-2: #7F90A0;
$neutral-light-3: #B7C4CF;
$neutral-light-4: #EAEEF3;
$neutral-light-5: #F9FBFD;

/* blues */

$blue-regular: #1377D3;
$blue-light: #3397F3;



/* orange */
$orange-light: #FEEFD9;
$orange: #FBB040;
