<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Andrew McKinney">
	<!-- Date: 2012-03-06 -->

	<meta id="viewport" name="viewport" content="width=device-width">

	<title>Drew McKinney - UX/UI Design</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.baseurl }}css/base.css">

</head>
<body>


<main>




		{{ content }}


</main>



</body>
</html>
