body{
	font-size: 11pt;
	line-height: 13pt;
	width: 100%;
	min-width: 0;
}

img{max-width: 300px;}

h1{ line-height: 24px; font-weight: normal; margin-top: 10px;font-size: 18pt;}
h2{line-height: 22px; margin-top: 40px; font-weight: normal;font-size: 16pt;}
h3{line-height: 20pt; margin-top: 40px; font-weight: bold; font-size: 14pt;}
h4{line-height: 30px; font-weight: normal; }

div#header {
	height: 40px;
	vertical-align: bottom;
	margin: 0 10px;
	padding: 10px 0px 0px 0px;
	
	font-size: 10pt;

	border-bottom: thin solid #AAA;
	/*-webkit-box-shadow: #CCC 0px 2px 0px 0px;*/
}

div.organization img{
	text-align: center;
	margin: auto;
	display: block;
}

li.project{
	margin-left: 5px;
	
}

li.project p{
	margin-top: 10px;
	font-size: 16pt;
}

li.project img{

}

div#header .menu li{
	text-align: center;
	display: inline;
	margin-bottom: 0;
	margin-right: 5px;
	padding-right: 5px;
	vertical-align: bottom;
	
	border-right: thin solid #DDD;
	
	font-family: 'Vollkorn';
	font-size: 12pt;
}
div#header .menu li.title{
	margin-top: 0pt;
}

div#header .badges {
	display: inline;
	margin-top: 5px;
	margin-bottom: 40px;
	padding: 0;	
	vertical-align: top;	
}
div#header .badges li{
	display: inline;
	margin-bottom: 40px;
	margin-right: 10px;
	vertical-align: top;
}

.pullout{
	margin: 20px 0 60px 0;
}

.pullout p{
	font-size: 16pt;
	line-height: 10px;
}
.pullout p img{
	margin-left: 70px;
}

div#wrapper {
	/*-webkit-box-shadow:inset 0 -10px 8px #333;*/
	-webkit-box-shadow: #888 0px 0px 30px 0px;
	background-color: #FAFAFA;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-align: left;
	width: 100%;
	padding: 0 0 0px 0;
	margin: 0;
}


div#content{
	padding: 0 10px;
	margin-left: 0px;
}

/* portfolio */

div.organization{
	
	margin-top: 20px;
	
}

li.project{
	text-align: center;
	margin: auto;
	display: block;
	float: none;
	clear: both;
}

li.project#last{
	text-align: center;
	margin: auto;
	display: block;
	float: none;
	clear: both;
}

.profile-box{
	display: none;
	margin: 0 20px; 20px 0px;
	font-size: 12pt;
	-webkit-box-shadow: #CCC 0px 2px 2px 0px;
	-moz-box-shadow: #CCC 0px 2px 2px 0px;
	border-bottom: thin solid #999;
	border-top: thin solid #FFFFFF;
	padding: 0 10px 10px 10px;
	font-weight: normal;
	float: right;
	clear: both;
}

.profile-box p{
	margin: 0 0 10px 0;
	font-size: 12pt;
}

.profile-box b{
	
	font-weight: bold;
	text-decoration: none;
}

.profile-box h3{
	font-family: 'Gentium Basic', sans-serif;
	font-weight: normal;
	font-size: 14pt;
	margin-top: 10px;
}


.popout{
border:none;
		text-align: left;
		margin: 40px 0px 20px 0px;
		line-height: 16pt;
		
		background-image: none;
		padding: 0;
}

.popout h2{
	font-size: 18pt;
}

.footer{
	margin: 0;
}